.board {
  width:500px;
  height:500px;
}
.tile {
  width: 98px;
  height: 98px;
  text-align: center;
  background-color: gray;
  border-radius: 50%;
}
.column:visited .tile:nth-last-of-type(1) {
  background-color: tomato;
}
.column:hover .tile:nth-last-of-type(1){
  background-color: red;
  opacity: 50%;
}
.column:hover{
  opacity: 80%;
}
.column:active .tile:nth-last-of-type(1) {
  background-color: tomato;
}
.column{
  background-color: navy;
  float: left;
  width: 98px;
  height: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
